<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="transactionForm">
      <div class="form-group">
        <label for="payee" translate>payee</label>
        <input
          type="text"
          formControlName="payee"
          class="form-control"
          id="payee"
          [placeholder]="'payeePlaceholder' | translate"
        />
      </div>
      <div class="form-group">
        <label for="memo" translate>memo</label>
        <input
          type="text"
          formControlName="memo"
          class="form-control"
          id="memo"
          [placeholder]="'memoPlaceholder' | translate"
        />
      </div>
      <div class="form-group">
        <label for="category" translate>category</label>
        <input
          type="text"
          formControlName="category"
          class="form-control"
          id="category"
          [placeholder]="'categoryPlaceholder' | translate"
        />
        <div class="category__container">
          <ul class="category__group-list">
            <li *ngFor="let group of (categories$ | async)">
              <div>{{group.groupName}}</div>
              <ul class="category__list">
                <li class="category__item" *ngFor="let category of group.categories" (click)="selectCategory(category)">
                  {{category.name}}
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>
