@import '../../../custom.scss';


$modal-width: 230px;
$month-width: 45px;
$month-height: 40px;

$icon-size: 24px;

.year-row {
  height: 54px;
  border-bottom: 1px solid $border-color;

  .year {
    font-size: 1.1em;
    font-weight: $font-weight;
  }
}

.month-picker {
  position:absolute;
  top: 10px;
  left: 10px;
  width: $modal-width;
  border-radius: $border-radius;
}

.icon {
  font-size: $icon-size;
  color: $icon-color;
}

.month-picker-month {
  cursor: pointer;
  height: $month-height;
  width: $month-width;
  border-radius: $border-radius;
  font-weight: $font-weight;

  &.is-selected {
    background-color: $primary;
    color: $white;
  }
}

.month-picker-month:not(.is-selected):hover {
  background-color: $hover-color;
  color: $dark;
}