$secondary-color: #23b2ce;
$date-size: 1.25em;
$icon-size: 32px;

.icon {
  font-size: $icon-size;
  color: $secondary-color;
  cursor: pointer;
}

.selected-month {
  font-size: $date-size;
  cursor: pointer;
}
