@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: #009cc2;
$blue-10: #e5f5f9;
$dark: #333;

$hover-color: #dee3e8;

$icon-color: #23b2ce;

$border-radius: 0.25rem;
$border-color: #dfe4e9;

$divider-color: rgba(0, 0, 0, 0.15);

$theme-colors: (
  'header': #003540,
  'primary': $primary,
  'zero': #88979d,
  'positive': #c4ecbb,
  'negative': #f7c1b5,
);

$font-size-xs: $font-size-base * 0.795;
