@import '../../../theme/variables';

.navbar {
  height: inherit;
  min-width:325px;
}

.budget-status {
  display: flex;
  justify-content: center;
}

.budget-status__summary-container {
  display: flex;
}

.budget-status__summary {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: map-get($spacers, 2);
  border-radius: $border-radius;

  &.budget-status--negative {
    background-color: $red;
  }

  &.budget-status--positive {
    background-color: $green;
  }
}

.budget-status__amount {
  align-self: center;
  font-size: $h5-font-size;
}

.budget-status__amount-description {
  align-self: center;
  font-size: $font-size-sm;
  font-style: italic;
}

.budget-status__arrow {
  align-self: center;
  width: 32px;
  height: 32px;
}

.arrow {
  border: 16px solid rgba(0,0,0,0);

  &.budget-status--negative {
    border-left-color: $red;
  }

  &.budget-status--positive {
    border-left-color: $green;
  }
}

.budget-status__details {
  display: flex;
}

.budget-status__column {
  display: flex;
  flex-direction: column;
  font-size: $font-size-xs;
}

.budget-status__column--align_right {
  text-align: right;
  margin-right: map-get($spacers, 2);
  font-weight: $font-weight-bold;
}

.budget-status__column--italic {
  font-style: italic;
}
