<app-budget-header></app-budget-header>

<div *ngIf="budget$ | async as budgetsPerGroup">
  <div class="budget-table">
    <div class="budget-table__row budget-table__row--header">
      <div class="budget-table__category-column budget-table__category-column--small-font">
        Category
      </div>
      <div class="budget-table__column">Budgeted</div>
      <div class="budget-table__column">Activity</div>
      <div class="budget-table__column">Available</div>
    </div>

    <ng-container *ngFor="let categoryGroup of budgetsPerGroup">
      <div
        class="budget-table__row budget-table__row--category-group"
        [attr.data-test-id]="categoryGroup.categoryGroupName"
      >
        <div data-label="GroupCategory" class="budget-table__category-group-column">
          {{ categoryGroup.categoryGroupName }}
        </div>
        <div data-label="GroupBudgeted" class="budget-table__column">
          <span>{{ categoryGroup.budgets | map: sum:'budgeted' | toCurrency }}</span>
        </div>
        <div data-label="GroupActivity" class="budget-table__column">
          <span>{{ categoryGroup.budgets | map: sum:'activity' | toCurrency }}</span>
        </div>
        <div data-label="GroupAvailable" class="budget-table__column">
          <span>{{ categoryGroup.budgets | map: sum:'available' | toCurrency }}</span>
        </div>
      </div>

      <div class="budget-table__row" *ngFor="let budget of categoryGroup.budgets" [attr.data-test-id]="budget.categoryName">
        <div data-label="Category" class="budget-table__category-group-column">
          {{ budget.categoryName }}
        </div>
        <div data-label="Budgeted" class="budget-table__column">
          <span>{{ budget.budgeted | toCurrency }}</span>
        </div>
        <div data-label="Activity" class="budget-table__column">
          <span>{{ budget.activity | toCurrency }}</span>
        </div>
        <div data-label="Available" class="budget-table__column">
          <span>{{ budget.available | toCurrency }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<p>
  budget-list works!
</p>
