<app-budget-header></app-budget-header>

<div *ngIf="budget$ | async as budgetsPerGroup">
  <div class="budget-table">
    <div class="budget-table__row budget-table__row--header">
      <div class="budget-table__category-column budget-table__category-column--small-font">
        Category
      </div>
      <div class="budget-table__column">Budgeted</div>
      <div class="budget-table__column">Activity</div>
      <div class="budget-table__column">Available</div>
    </div>

    <div
      *ngFor="let categoryGroup of budgetsPerGroup"
      [attr.data-test-id]="categoryGroup.categoryGroupName"
      class="budget-table__row budget-table__row--category-group"
    >
      <div data-label="Category" class="budget-table__category-group-column">
        {{ categoryGroup.categoryGroupName }}
      </div>
      <div data-label="Budgeted" class="budget-table__column">
        <span>{{ categoryGroup.budgets | map: sum:'budgeted' | toCurrency }}</span>
      </div>
      <div data-label="Activity" class="budget-table__column">
        <span>{{ categoryGroup.budgets | map: sum:'activity' | toCurrency }}</span>
      </div>
      <div data-label="Available" class="budget-table__column">
        <span>{{ categoryGroup.budgets | map: sum:'available' | toCurrency }}</span>
      </div>
    </div>
  </div>
</div>

<p>
  budget-list works!
</p>
