<ul class="list-group">
  <li class="list-group-item d-flex" *ngFor="let transaction of transactions; let index = index">
    <div class="mr-2" style="flex: 1;">
      <ng-container *ngIf="transaction.date !== transactions[index - 1]?.date">
        {{transaction.date | prettyDate | translate}}
      </ng-container>
    </div>
    <div style="flex: 6;">{{transaction.payee}}</div>
    <div class="text-success" *ngIf="transaction.inflow !== '0.00'">+{{transaction.inflow}}</div>
    <div *ngIf="transaction.outflow !== '0.00'">-{{transaction.outflow}}</div>
  </li>
</ul>
