<div [formGroup]="categoryForm">
  <div class="form-group">
    <label for="name" translate>categoryCreate.name.label</label>
    <input
      id="name"
      [attr.placeholder]="'categoryCreate.name.placeholder' | translate"
      type="text"
      class="form-control"
      formControlName="name"
    />
  </div>

  <hr />

  <div class="form-group">
    <input
      [attr.placeholder]="'categoryCreate.searchPlaceholder' | translate"
      type="text"
      class="form-control"
      (keyup)="search($event.target.value)"
    />
  </div>
</div>

<div class="icon-container d-flex flex-wrap">
  <div
    (click)="selectIcon(icon)"
    class="icon p-2 m-2"
    [class.is-selected]="iconControl.value === icon"
    *ngFor="let icon of icons$ | async"
  >
    <fa-icon [icon]="icon"></fa-icon>
  </div>
</div>
