<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-category-create
      *ngIf="isCategoryCreationVisible"
      (categoryCreate)="handleCategoryCreated($event)"
    ></app-category-create>

    <ng-container *ngIf="!isCategoryCreationVisible">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-link" (click)="toggleCreateCategory($event)">
          <fa-icon class="mr-1" icon="plus"></fa-icon>
          <span translate>transactionCreateOrEdit.createNewCategoryButton</span>
        </button>
      </div>

      <div class="category__list py-4">
        <span *ngIf="hasNoCategories$ | async" translate>
          transactionCreateOrEdit.noCategoriesMessage
        </span>
        <app-category-list-item
          [name]="category.name"
          *ngFor="let category of categories$ | async"
        ></app-category-list-item>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Save
    </button>
  </div>
</ng-template>
